.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-right: 24px;
    margin-left: 24px;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    margin-right: 8px;
    color: #E5E7EB;
    font-size: 18px;
}