.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-right: 24px;
    margin-left: 24px;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    margin-right: 8px;
}