@import 
url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header, .hero-container{
    background-color: #1F2937;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-right: 64px;
    margin-left: 64px;
    padding: 16px 0;
    align-items: center;
}

.logo, .hero h1, .call-to-action-title, button{
    color:#F9FAF8;
}

.logo, .call-to-action-title{
    font-size: 24px;
}

.nav-links{
    list-style-type: none;
    margin-right: 9em;
    padding: 0;
}

li, .hero p, .hero-image, .call-to-action-phrase{
    color: #E5E7EB;
}

li{
    display: inline;
    margin-right: 16px;
}

.hero-container{
    display: flex;
    padding: 8em 0;
    gap: 64px;
}

.hero{
    display: flex;
    flex-direction: column;
    width:450px;
    margin-left: 64px;
    gap: 8px;
}

.hero h1{
    font-size: 48px;
}

.hero-image{
    display: flex;
    justify-content: center;
    width:564px;
    height: 240px;
    background-color: rgb(122, 122, 122);
    align-items: center;
}

.hero-button{
    align-self: flex-start;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}

.info-header-text{
    color: #1F2937;
    text-align: center;
    padding: 8px 8px 16px;
    margin: 8px;
}

.info-header-text, .hero h1{
    font-weight: 900;
}

.info-section{
    padding: 2em 0 4em;
}

.img-subtext {
    display: flex;
    gap: 48px;
    justify-content: center;
    padding: 16px 8px 8px;
    margin: 8px;
}

.img-card{
    width: 170px;
    height: 170px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}
.subtext{
    width: 175px;
    padding: 8px;
    text-wrap: wrap;
}

/*format for image in image card*/
.card_photo{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}

/*quote section*/
.quote-container{
    background-color: #E5E7EB;
    padding: 6em 8em;
}

.blockquote{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blockquote-text {
    padding: 20px 88px;
    font-weight: 300;
    font-style:italic;
}

.blockquote-text, .info-header-text{
    font-size: 36px;
}

.quote-footer p{
    text-align: right;
    margin-right: 8em;
}

li, .hero p, .hero-image, .hero-button, .call-to-action-btn, .quote-footer p{
    font-size: 18px;
}

.logo, .hero-button, .call-to-action-btn, .quote-footer p, .call-to-action-title{
    font-weight: 700;
}

/*call to action section*/
/* .call-to-action-container{
    width: 200px;
    height: 200px;
    background-color: yellow;
} */
.call-to-action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 70px 100px;
}

.call-to-action-content-container{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 90px;
    border-radius: 8px;
}

.hero-button, .call-to-action-btn, .call-to-action-content-container{
    background-color: #3882F6;
}

.call-to-action-btn{
    border: 2px solid #F9FAF8; 
    padding: 8px 32px; 
    border-radius: 8px;  
}